<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/40f6c6ef52.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
  <link href="{{constant('INCLUDE_PATH_STATIC') ~ 'css/login.css'}}" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-logo">
      <img src="{{constant('INCLUDE_PATH_STATIC') ~ 'assets/Spotify_Logo_Black.png'}}">
    </div><!--header logo-->
  </header><!--Header-->

  <section class="forms-container">
    <form action="" method="post">
      <div class="form-top">
        <span>Para continuar, faça login no Spotify.</span>
        <button class="botao-facebook" type="submit"><i class="fa-brands fa-facebook-square"></i> CONTINUAR COM O FACEBOOK</i></button>
        <button class="botao-apple" type="submit"><i class="fa-brands fa-apple"></i> CONTINUAR COM A APPLE</i></button>
        <button class="botao-google" type="submit"><i class="fa-brands fa-google"></i> CONTINUAR COM O GOOGLE</i></button>
        <button class="botao-google" type="submit"> CONTINUAR COM UM NUMERO DE TELEFONE</button>
      </div><!--form top-->
      
      <div class="ou">
        <hr>
        <span>OU</span>
        <hr>
      </div>
     
      <div class="form-bottom">
        <label for="email">Endereço de e-mail ou nome de usuário</label>
        <input type="email" id="email" name="email_login" placeholder="Endereço de e-mail ou nome de usuário">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="email_login" placeholder="Senha">

        <a>Esqueceu sua senha?</a>

        <div class="entrar">
          <div class="check">
            <input type="checkbox" id="check">
            <label>Lembrar de mim</label>
          </div>
          <button type="submit">ENTRAR</button>
        </div>
        <hr class="last">

        <div class="inscrever-se">
          <h4>Não tem uma conta?</h4>
          <button name="inscrever-se" type="submit">INSECREVER-SE NO SPOTIFY</button>
        </div>
      </div><!--form bottom-->     
    </form>
  </section><!--Forms container-->
</body>
</html>